# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Editor directories and files
.vscode/

# OS system files
.DS_Store

# Temporary files
pids/
*.pid
*.seed
*.pid.lock